{% load static %}
<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/guiaDeContribuicao.css' %}">

    <!--links importados do google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap" rel="stylesheet">
    <title>Guia de contribuição</title>
</head>
<body>
    <div class="container">
        <header>
            <div id="status-page">
                em produção
            </div>
            <div>
                <h1>
                Guia de Contribuição
                <br>
                para Campeões
            </h1>
            <div>
                <span>A página para o campeão <strong>{{ nome|title }}</strong> ainda não foi criada.</span>
            </div>
            </div>
        </header>
    </div>

    <main>
        <div class="container">
            <div class="start-icon">✦</div>
            <div class="blocos">
    
            </div>
            <div class="start-icon">✦</div>
        </div>
    </main>
</body>
</html>