{% extends "base.html" %}
{% load static %}
{% block titulo %}Vai deixa 👉👈{% endblock titulo %}
  
{% block links %}
  <link rel="stylesheet" href="{% static 'css/warwick/primal.css'%}">
{% endblock links %}

{% block site %}
<div class="container" id="container">
    <h1 id="message1">Posso jogar de Warwick?</h1>
    <h1 id="message2">:'c</h1>
    <div class="buttons">
      <button id="yes">Sim</button>
      <button id="no">Não</button>
    </div>
  </div>

  <div id="visualizer-container">
    <canvas id="visualizer-canvas"></canvas>
    <div id="center-circle">
        <canvas id="textCanvas" width="220" height="220"></canvas>
    </div>
  </div>

  <div 
    id="assets"
    data-emoji1="{% static 'img/warwick/icon.webp' %}"
    data-emoji2="{% static 'img/warwick/icon2.webp' %}"
    data-emoji3="{% static 'img/warwick/icon3.webp' %}"
    data-emoji4="{% static 'img/warwick/icon4.webp' %}"
    data-emoji5="{% static 'img/warwick/icon5.webp' %}"
    data-dog1="{% static 'img/warwick/cachorro1.png' %}"
    data-dog2="{% static 'img/warwick/cachorro2.png' %}">
  </div>


  <!-- Elementos para as animações extras -->
  <div id="emoji-container"></div>
  <img id="dog-image" src="" alt="Cachorro" class="dog-base">

  <audio id="music" src="{% static 'audio/warwick/music_v2.mp3' %}"></audio>

<!-- Importando o scripts -->
<script src="{% static 'js/warwick/animations.js' %}"></script>
<script type="module" src="{% static 'js/warwick/primal.js'%}"></script>
{% endblock site %}

{% block page_by %}
<div class="create_by" style="color: rgb(44, 44, 44);">PageBy: DeZãum</div>
{% endblock page_by %}
