* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(17, 21, 34);
  padding: 0px 20px;
  margin: 0px 25%;
}
body .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
body .container div {
  text-align: center;
}
body .container div h1 {
  font-family: "Cinzel Decorative";
  font-weight: 900;
  font-size: 2.2rem;
  letter-spacing: 0.1em;
  color: rgb(243, 223, 132);
  margin-top: 10px;
  margin-bottom: 7px;
  text-shadow: 0 0 20px rgba(243, 202, 19, 0.418);
}
body .container div span {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.7rem;
  color: rgb(101, 101, 119);
}
body .container div span strong {
  color: rgb(243, 223, 132);
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px rgba(243, 202, 19, 0.418);
}

header {
  padding: 60px 0px 50px 0px;
  margin-bottom: 70px;
  border-bottom: 0.5px solid rgba(243, 223, 132, 0.178);
}

#status-page {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 3px 20px;
  font-size: 0.8rem;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(243, 223, 132, 0.178);
  color: rgb(41, 89, 153);
  box-shadow: inset 0 0 30px -5px rgba(41, 90, 153, 0.432), 0 0 30px -5px rgba(41, 90, 153, 0.432);
  border-radius: 99px;
  text-shadow: 0 0 9px rgb(41, 89, 153);
}
#status-page .bolinhas {
  display: inline-flex;
  gap: 6px;
}
#status-page .bolinhas i {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(41, 89, 153);
  display: block;
  animation: bounce 1.5s infinite ease-in-out;
}
#status-page .bolinhas i:nth-child(1) {
  animation-delay: 0.1s;
}
#status-page .bolinhas i:nth-child(2) {
  animation-delay: 0.4s;
}
#status-page .bolinhas i:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
}
.start-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(243, 223, 132);
  padding: 0px 5px 0px 5px;
}
.start-icon::before {
  content: "";
  display: block;
  width: 400px;
  height: 1px;
  margin-right: 7px;
  border-radius: 10px 0px 0px 10px;
  background: linear-gradient(90deg, rgba(255, 0, 0, 0), rgb(243, 223, 132));
}
.start-icon::after {
  content: "";
  display: block;
  width: 400px;
  height: 1px;
  margin-left: 7px;
  border-radius: 10px 0px 0px 10px;
  background: linear-gradient(90deg, rgb(243, 223, 132), rgba(255, 0, 0, 0));
}

main {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .container {
  width: 100%;
}
main .container .blocos {
  width: 100%;
  min-height: 200px;
  background-color: rgb(29, 35, 46);
  border-radius: 20px;
  padding: 28px 32px;
  border: 1px solid rgba(243, 223, 132, 0.178);
  margin-bottom: 20px;
  position: relative;
}
main .container .blocos::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(255, 0, 0, 0), rgb(243, 223, 132), rgba(255, 0, 0, 0));
  width: 100%;
  height: 2px;
}
main .container .blocos .info1 {
  color: rgb(119, 119, 136);
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: justify;
}
main .container .blocos .info1 span {
  text-transform: lowercase;
  font-size: 0.7em;
}
main .container .blocos .info1 a {
  font-size: 0.8em;
  color: rgb(41, 89, 153);
  text-decoration: none;
}
main .container .blocos .info1 a:hover {
  color: rgba(56, 126, 216, 0.959);
}
main .container #info {
  display: flex;
  justify-content: space-between;
}
main .container #info .blocos {
  width: 48%;
  height: 260px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .container #info :nth-child(1) {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 5px;
}
main .container #info :nth-child(2) {
  font-size: 20px;
  color: rgb(243, 223, 132);
  font-family: "Cinzel Decorative";
  font-weight: 600;
}
main .container #info :nth-child(3) {
  font-size: 12px;
  font-family: "arial";
  margin-top: 10px;
  text-align: center;
  color: rgb(119, 119, 136);
}
main .container #info :nth-child(4) {
  margin-top: 10px;
  font-size: 12px;
  position: absolute;
  left: 10%;
  bottom: 7%;
  text-decoration: none;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(41, 89, 153);
}
main .container #info :nth-child(4):hover {
  color: rgba(56, 126, 216, 0.959);
}

#placarVotacao {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#placarVotacao :nth-child(1), #placarVotacao :nth-child(5) {
  color: rgb(119, 119, 136);
  text-shadow: none;
}
#placarVotacao :nth-child(2) {
  color: rgb(243, 223, 132);
  width: 250px;
  text-align: center;
  font-family: "Cinzel Decorative";
  border-radius: 30px;
  font-weight: 900;
  font-size: 5rem;
  text-shadow: 0 0 30px rgba(243, 202, 19, 0.418);
}
#placarVotacao :nth-child(3) {
  color: rgb(119, 106, 35);
  margin: 10px 0px 40px;
  font-family: sans-serif;
  font-size: 12px;
}
#placarVotacao :nth-child(4) {
  border: rgb(243, 223, 132) solid 1px;
  background-color: rgba(153, 141, 32, 0.356);
  border-radius: 20px;
  font-size: 1rem;
  width: 60%;
  height: 60px;
  color: rgba(243, 202, 19, 0.418);
  margin-bottom: 20px;
}
#placarVotacao :nth-child(4):hover {
  border-color: rgba(243, 202, 19, 0.418);
  background-color: rgba(189, 173, 31, 0.356);
  color: rgb(243, 223, 132);
}

h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: rgba(136, 129, 81, 0.938);
  padding: 30px 0px;
  margin-left: 10px;
  letter-spacing: 1.5px;
}
h2 span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(119, 106, 35) 60%, rgb(161, 143, 39));
  text-shadow: none;
  width: 20px;
  height: 20px;
  padding: 15px;
  color: black !important;
  border-radius: 50%;
  font-size: 12px !important;
  margin-right: 10px;
}

code {
  background-color: rgb(19, 19, 19);
  min-height: 300px;
  display: block;
  width: 100%;
  height: auto;
  padding: 20px;
  font-size: 1.2em;
}
code div {
  color: rgb(243, 223, 132);
  text-align: start !important;
  height: 30px;
  align-content: center;
  unicode-bidi: isolate;
}

#color-gold {
  border-color: rgb(216, 216, 102);
  color: rgb(216, 216, 102);
  text-shadow: 0 0 5px rgb(216, 216, 102);
}

#color-white {
  color: rgb(163, 163, 163);
  display: flex;
  align-items: center;
}

#color-blue {
  color: rgb(37, 131, 160);
}

#color-info {
  color: rgb(119, 106, 35);
}

.tag {
  border: 1px solid white;
  border-radius: 4px;
  padding: 2px 10px;
  background-color: rgb(29, 35, 46);
}

.line {
  width: 100%;
  height: auto;
  margin-left: 8px;
  padding-left: 10px;
  border-left: dashed rgb(54, 53, 30) 1px;
}/*# sourceMappingURL=guiaDeContribuicao.css.map */